:root {
  /* FONT COLOR, MOST COMMON COLORS */
  --white: #fff;
  --green: #048940;
  --black: #041014;
  --red: #f10202;
  --gray: #727375;

  /* FONT-SIZE */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.75rem;
  --h4: 1.5rem;
  --h5: 1.25rem;
  --h6: 1rem;
  --p: 1rem;

  /*** === FONT-WEIGHT === ***/
  --bold: 600;
  --bolder: 700;
  --boldest: 900;

  /* Penguin freecodecamp */
  --penguin-face: white;
  --penguin-picorna: orange;
  --penguin-skin: gray;
  /* Penguin freecodecamp ends */
  /* Magic Ball */
  --gradient: linear-gradient(
    to right,
    #b689c0,
    #947ec3,
    #7858a6,
    #5b4b8a,
    #371b58
  );

  /* Magic Ball Ends */
  /* Typing machine effect bg-clr */
  --typing-bg-color: rgb(248, 233, 164);
  /* Glitching effect */
  --glitch-bg-clr: rgba(45, 46, 46, 0.63);
  --glitch-font-clr: rgb(252, 254, 255, 1);
  --glitch-shadow-clr1: rgba(219, 13, 47, 0.75);
  --glitch-shadow-clr2: rgba(9, 98, 82, 0.552);
  --glitch-shadow-clr3: rgba(45, 230, 187, 0.788);
  /* Neon button */
  --clr-neon: rgb(7, 249, 233);
  --button-clr-bg: rgb(20, 20, 20, 1);

  /* Orwell */
  /* fonts */
  --ff-text: "Special Elite", cursive;
  /* background colors */
  --bg-body: #c82424;
  --bg-eye: #fbe6a7;
  --bg-pupil: #000000;

  /* border colors */
  --clr-border_iris: #000000;
  --clr-border_eye: #db3a30;
  /* Orwell ends */

  /* Beating heart */
  /* box-shadow color */
  --clr-shadow: #96312e;
  /* heart color */
  --clr-heart: #7e0f12;
  /* border color */
  --clr-border: #cb0323;
  /* Beating heart ends */

  /* Flipping card */
  --bg-clr_body: linear-gradient(#3c6c5c, #e4d066);
  --clr-diamond: #82589f;
  --bg-clr_card: #2f3542;
  --clr-shadow: #40407a;
  --clr-back_card: repeating-linear-gradient(
    45deg,
    #2f3542 0px,
    #ffc048 10px,
    #2f3542 10px,
    #82589f 10px,
    #82589f 20px
  );
  /* Flipping card ends */

  /* Counter */
  --counter-bg-clr: rgb(208, 208, 255);
  --counter-purple-clr: #5b189c;
  --counter-green-clr: #165343;
  --counter-white-clr: #ffffff;
  /* Password Generator */
  --pswGenerator-bg-clr: #040f13;
  --pswGenerator-white-clr: #fafbfa;
  --pswGenerator-green-clr: #06aa51;
}

@media (min-width: 300px) {
  :root {
    --h1: 1.5rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.25rem;
    --h5: 1rem;
    --h6: 0.5rem;
    --p: 1rem;
  }
}

@media (min-width: 600px) {
  :root {
    --h1: 3rem;
    --h2: 2.75rem;
    --h3: 2rem;
    --h4: 1.75rem;
    --h5: 1.5rem;
    --h6: 1.25rem;
    --p: 1.125rem;
  }
}

@media (min-width: 960px) {
  :root {
    --h1: 4rem;
    --h2: 3rem;
    --h3: 2.5rem;
    --h4: 2rem;
    --h5: 1.75rem;
    --h6: 1.5rem;
    --p: 1.25rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .penguin-and-magicBall-wrapper {
    flex-direction: column;
  }
}

.penguin-and-magicBall-wrapper {
  display: flex;
}

/* === PINGUIN WAVING A HAND FREECODECAMP PROJECT 2023 === */
.penguin-wrapper {
  flex: 1;
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
}

.penguin {
  width: 300px;
  height: 300px;
  margin: auto;
  z-index: 4;
  position: relative;
  transition: transform 1s ease-in-out 0ms;
}

.penguin * {
  position: absolute;
}

.penguin:active {
  transform: scale(1.5);
  cursor: not-allowed;
}

.penguin-head {
  width: 50%;
  height: 45%;
  background: linear-gradient(45deg, var(--penguin-skin), rgb(239, 240, 228));
  border-radius: 70% 70% 65% 65%;
  top: 10%;
  left: 25%;
  z-index: 1;
}

.face {
  width: 60%;
  height: 70%;
  background-color: var(--penguin-face);
  border-radius: 70% 70% 60% 60%;
  top: 15%;
}

.face.left {
  left: 5%;
}

.face.right {
  right: 5%;
}

.chin {
  width: 90%;
  height: 70%;
  background-color: var(--penguin-face);
  top: 25%;
  left: 5%;
  border-radius: 70% 70% 100% 100%;
}

.eye-penguin {
  width: 15%;
  height: 17%;
  background-color: black;
  top: 45%;
  border-radius: 50%;
}

.eye-penguin.right {
  right: 25%;
}

.eye-penguin.left {
  left: 25%;
}

.eye-lid {
  width: 150%;
  height: 100%;
  background-color: var(--penguin-face);
  top: 25%;
  left: -23%;
  border-radius: 50%;
}

.blush {
  width: 15%;
  height: 10%;
  background-color: pink;
  top: 65%;
  border-radius: 50%;
}

.blush.left {
  left: 15%;
}

.blush.right {
  right: 15%;
}

.beak {
  height: 10%;
  background-color: var(--penguin-picorna);
  border-radius: 50%;
}

.beak.top {
  width: 20%;
  top: 60%;
  left: 40%;
}

.beak.bottom {
  width: 16%;
  top: 65%;
  left: 42%;
}

.penguin-body {
  width: 53%;
  height: 45%;
  background: linear-gradient(
    45deg,
    rgb(134, 133, 133) 0%,
    rgb(234, 231, 231) 25%,
    white 67%
  );
  border-radius: 80% 80% 100% 100%;
  top: 40%;
  left: 23.5%;
}

.penguin-body::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 45%;
  background-color: var(--penguin-skin);
  top: 10%;
  left: 25%;
  border-radius: 0% 0% 100% 100%;
  opacity: 70%;
}

.arm {
  width: 30%;
  height: 60%;
  background: linear-gradient(90deg, var(--penguin-skin), rgb(209, 210, 199));
  border-radius: 30% 30% 30% 120%;
  z-index: -1;
}

.arm.left {
  top: 35%;
  left: 5%;
  transform-origin: top left;
  transform: rotate(130deg) scaleX(-1);
  animation: 3s linear infinite wave;
}

.arm.right {
  top: 0%;
  right: -5%;
  transform: rotate(-45deg);
}

@keyframes wave {
  10% {
    transform: rotate(110deg) scaleX(-1);
  }
  20% {
    transform: rotate(130deg) scaleX(-1);
  }
  30% {
    transform: rotate(110deg) scaleX(-1);
  }
  40% {
    transform: rotate(130deg) scaleX(-1);
  }
}

.foot {
  width: 15%;
  height: 30%;
  background-color: var(--penguin-picorna);
  top: 85%;
  border-radius: 50%;
  z-index: -1;
}

.foot.left {
  left: 25%;
  transform: rotate(80deg);
}

.foot.right {
  right: 25%;
  transform: rotate(-80deg);
}

/* === PINGUIN WAVING A HAND FREECODECAMP PROJECT ENDS === */

/* === MAGIC BALL 2022 === */
.magicBall-wrapper {
  flex: 1;
  background: #222;
  color: antiquewhite;
}

.ball-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
h2 {
  font-family: "Jolly Lodger", cursive;
  letter-spacing: 15px;
  font-size: var(--h2);
  text-align: center;
  padding-top: 1rem;
  font-weight: var(--fw-title);
}

.stars {
  background: url(./assets/img/night-sky.png) repeat top center;
  position: absolute;
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 50%;
  z-index: 1;
}

.crystal-ball {
  position: relative;
  background: var(--gradient);
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px 15px #c996cc inset;
  background-size: cover;
  background-position: center;
  animation: bg-animation 20s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}
/* === MAGIC BALL ENDS === */

/* === SOLO PROJECT SCRIMBA, SCORE TABLE NOV 2022 === */
@media screen and (max-width: 768px) {
  .soloProject {
    flex-direction: column;
  }
}

.soloProject {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #5887fb;
  background: radial-gradient(at center, #5887fb, #052266);
  padding: 2rem;
}

.home,
.guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: auto;
  padding: 2rem 0;
  border-radius: 10px;
  border: 4px solid var(--gray);
  background-color: var(--black);
}

.soloProject-title {
  color: var(--white);
  font-size: var(--h3);
  padding-bottom: 1rem;
}

.monitor {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--gray);
  border-style: inset;
  border-radius: 3px;
  width: 8rem;
  height: auto;
  background: white;
}

.soloProject-result {
  padding: 2rem;
  font-size: var(--h1);
  color: var(--black);
  font-family: "Nova Square", cursive;
}

.soloProject-btn-group {
  padding-top: 1rem;
}

.soloProject-btn-group button {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;

  font-family: "Nova Square", cursive;
  font-size: var(--h5);
  font-weight: var(--boldest);
}

.resetHome,
.resetGuest {
  font-size: var(--h4);
  padding: 1rem;
  margin-top: 1rem;
  background: var(--red);
  border-radius: 8px;
  font-family: "Nova Square", cursive;
  font-weight: var(--boldest);
  color: var(--white);
}

.highlight {
  color: var(--green);
}

/* === SOLO PROJECT SCRIMBA, SCORE TABLE NOV 2022 ENDS === */

/* !!! SOLO-PROJECT, COUNTER AND PSW GENERATOR CONTAINER !!! */
.counter-and-pswGenerator-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .counter-and-pswGenerator-container {
    display: flex;
    flex-direction: column;
  }
}

/* === PASSWORD GENERATOR DEC 2022 === */
.psw-generator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--pswGenerator-bg-clr);
}
.psw-generator-container h1 {
  color: var(--pswGenerator-white-clr);
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  margin-left: 20px;
}

.psw-generator-container span {
  color: var(--pswGenerator-green-clr);
  font-family: "Abril Fatface", cursive;
}

.psw-generator-container p {
  color: #89928d;
  font-family: "Abril Fatface", cursive;
  margin: 10px 10px;
  font-size: 25px;
}

.psw-generator-container button {
  cursor: pointer;
  margin: 20px 20px;
  padding: 1em;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid var(--pswGenerator-white-clr);
  background: var(--pswGenerator-green-clr);
  color: #fafbfa;
}

.psw-generator-container input {
  padding: 1em;
  color: var(--pswGenerator-green-clr);
  background: #c0c2c0;
  border-radius: 5px;
}

.psw-generator-container p {
  color: var(--pswGenerator-white-clr);
}
/* === PASSWORD GENERATOR ENDS DEC 2022 === */

/* === COUNTER DEC 2022 === */

.scrimba-counter {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: var(--counter-bg-clr);
  font-family: "Nova Square", cursive;
}

.scrimba-counter h1 {
  padding: 1rem;
  font-family: "Nova Square", cursive;
}

.scrimba-counter h2 {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 1rem;
}

#category {
  padding: 0.5rem;

  border: 2px solid var(--counter-purple-clr);
  border-radius: 5px;
}

#count-el {
  margin: 10px 10px;
}

#save-el {
  margin-top: 20px;
}

.counter-btn {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--counter-white-clr);
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: var(--counter-purple-clr);
}

#save-btn {
  background: var(--counter-green-clr);
}
/* === COUNTER ENDS DEC 2022 === */

/* === NEON BUTTON OCT 2022 === */
.neon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-clr-bg);
  padding: 1rem;
}
.button {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-neon);
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.15em;
  border: var(--clr-neon) 4px solid;
  padding: 0.3em 0.7em;
  text-shadow: 0 0 0.125em rgb(187, 229, 249), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  pointer-events: none;
  background-color: var(--clr-neon);
  transform: perspective(1em) rotate(40deg) scale(1, 0.35);
  filter: blur(2em);
}

.button::after {
  box-shadow: 0 0 1em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}

/* === NEON BUTTON ENDS OCT 2022 === */

.glitch-and-machineTyping-wrapper {
  display: flex;
}

@media screen and (max-width: 600px) {
  .glitch-and-machineTyping-wrapper {
    flex-direction: column;
  }
}

/* === ORWELL 2022 === */
.orwell {
  background: var(--bg-body);
  display: flex;
  flex-direction: column;
}

.orwell-h1,
.orwell-h2 {
  text-align: center;
  font-family: var(--ff-text);

  letter-spacing: 15px;
}

.orwell-h1 {
  padding: 1rem;
  font-size: 2rem;
}

.orwell-h2 {
  padding: 1rem;
  font-size: 1.5rem;
}

.eye-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eye {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 20rem;
  background: var(--bg-eye);
  border-radius: 55% / 55%;
  border: 15px solid var(--clr-border_eye);
}

.iris {
  position: absolute;
  width: 14rem;
  height: 14rem;
  background-color: red;
  background: var(--bg-body);
  border: 10px solid var(--clr-border_iris);
  border-radius: 50%;
}

.pupil {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  width: 8rem;
  height: 8rem;
  background: var(--bg-pupil);
  border-radius: 50%;
}
/* === ORWELL 2022 ENDS === */

/* === BEATING HEART & FLIPPING CARD CONTAINER 2022 === */
.heart-flippingCard-container {
  display: flex;
}

/* === BEATING HEART 2022 === */
.heart-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fdcb6e;
}

@media screen and(max-width: 768px) {
  .heart-flippingCard-container {
    flex-direction: column;
  }
}

.heart-container {
  position: relative;
  margin-right: 23%;
  margin-bottom: 15%;
}
.heart {
  position: relative;
  animation: pulse 1000ms infinite;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 13.5em;
  top: 0;
  width: 13.5em;
  height: 22em;
  background: var(--clr-heart);
  border-radius: 100px 100px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  border-top: 1px solid var(--clr-border);
  border-bottom: 1px solid var(--clr-border);
  border-right: 1px solid var(--clr-border);
}

.heart:before {
  box-shadow: -40px 25px 50px 10px var(--clr-shadow);
  border-left: 1px solid var(--clr-border);
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  box-shadow: 65px 35px 40px -25px var(--clr-shadow);
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

/* === FLIPPING CARD 2022 === */
.card-wrapper {
  background-color: red;
  background-image: var(--bg-clr_body);
  display: grid;
  place-items: center;
  flex: 1;
}

.card {
  width: 500px;
  height: auto;
  padding: 1rem;
}

.card__content {
  position: relative;
  height: 700px;
  padding: 2rem;
  transition: transform 2s;
  background: var(--bg-clr_card);
  box-shadow: 0px 10px 30px 12px var(--clr-shadow);
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em;
  backface-visibility: hidden;
}

.card__front {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__front-content {
  transform: translateZ(6rem);
  width: 0;
  height: 0;
  border: 130px solid transparent;
  border-bottom-color: var(--clr-diamond);
  border-style: double;
  position: relative;
  top: -130px;
}

.card__front-content::after {
  content: "";
  position: absolute;
  left: -130px;
  top: 130px;
  width: 0;
  height: 0;
  border: 130px solid transparent;
  border-top-color: var(--clr-diamond);
  border-style: double;
}

.card__back-content {
  transform: translateZ(3rem);
}

.card__back {
  transform: rotateY(0.5turn);
  background-color: red;
  background-image: var(--clr-back_card);
}
/* === FLIPPING CARD ENDS === */

/* === BEATING HEART & FLIPPING CARD CONTAINER ENDS === */

/* === TYPING MACHINE EFFECT SEP 2022 */
.typing-machine {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 5rem;
  padding: 5rem;

  background: var(--typing-bg-color);
}

h1 {
  font-family: "Special Elite", cursive;
  color: black;
  margin: 0;
  padding: 0;
}

h1::before,
h1::after {
  content: "";
  margin: 0;
  padding: 0;
}
/* === TYPING MACHINE EFFECT ENDS SEP 2022 */

/* === GLITCH EFFECT SEP 2022 === */
.glitch {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--glitch-bg-clr);
  color: var(--glitch-font-clr);
}

.glitch-text {
  padding: 1rem;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 600;
  text-shadow: 0.05em 0 0 var(--glitch-shadow-clr1),
    -0.025em -0.05em 0 var(--glitch-shadow-clr2),
    0.025em 0.05em 0 var(--glitch-shadow-clr3);
  animation: text 1700ms infinite;
}

@keyframes text {
  0% {
    text-shadow: 0.05em 0 0 var(--glitch-shadow-clr1),
      -0.05em -0.025em 0 var(--glitch-shadow-clr2),
      -0.025em 0.05em 0 var(--glitch-shadow-clr3);
  }
  14% {
    text-shadow: 0.025em 0 0 var(--glitch-shadow-clr1),
      -0.025em -0.05em 0 var(--glitch-shadow-clr2),
      -0.05em 0.025em 0 var(--glitch-shadow-clr3);
  }
  15% {
    text-shadow: -0.05em -0.025 0 var(--glitch-shadow-clr1),
      0.025em 0.025em 0 var(--glitch-shadow-clr2),
      -0.05em -0.05em 0 var(--glitch-shadow-clr3);
  }
  49% {
    text-shadow: 0.05em 0 0 var(--glitch-shadow-clr1),
      0.025em 0.025em 0 var(--glitch-shadow-clr2),
      -0.05em -0.05em 0 var(--glitch-shadow-clr3);
  }
  50% {
    text-shadow: -0.025em -0.05em 0 var(--glitch-shadow-clr1),
      0.05em 0.05em 0 var(--glitch-shadow-clr2),
      -0.01em -0.01em 0 var(--glitch-shadow-clr3);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 var(--glitch-shadow-clr1),
      0.05em 0 0 var(--glitch-shadow-clr2),
      0em -0.025em 0 var(--glitch-shadow-clr3);
  }
  100% {
    text-shadow: -0.05em 0 0 var(--glitch-shadow-clr1),
      -0.05em -0.01em 0 var(--glitch-shadow-clr2),
      0.05em 0.025em 0 var(--glitch-shadow-clr3);
  }
}
/* === GLITCH EFFECT ENDS SEP 2022 === */
